nav.navbar.fixed-top.navbar-dark.bg-dark
	a.navbar-brand(href='#')
		img.d-inline-block.align-top(src='http://www.newswest9.com/pb/resources/images/weather/weather-condition-icons/400x400/66_daily_forecast.png', width='30', height='30', alt='')
		| Weather
.container-fluid.contianer-bg

	.row
		.col-8
			.row
				.col-12
					.card
						.card-body
							h6.card-title Last 24 hours

			.row.daily-info
				.col.card-daily(*ngFor='let day of dailyHistory.data')
					.card
						.card-body
							.card-title.d-flex.justify-content-start
								i.icon.mr-2([ngClass]="'w-' + day.icon")
								h6 {{day.time | date}}
		.col-4
			.map(leaflet='', [leafletOptions]='leafletOptions')
