.map {
	height: 100%;
	padding: 0;
}

.card-body {

	padding: 0.9rem;

}

.card-daily {

    padding-right: 0;
    padding-left: 0;

	.card {
		min-height: 300px;
	}

}

.daily-info {

	padding-left: 15px;
	padding-right: 15px;

}

.icon {

	font-size: 36px;
	margin-top: -7px;

}

.red {

	color: red;

}

.blue {

	color: blue;

}
