@import '../assets/css/leaflet-openweathermap.css';

.map {
	height: 100%;
	padding: 0;
	min-height: 450px;
}

.card-body {

	padding: 0.9rem;

}

.card-daily {

    padding-right: 0;
    padding-left: 0;

	.card {
		min-height: 100px;
	}

}

.daily-info {

	padding-left: 15px;
	padding-right: 15px;

}

.icon {

	width: 100px;

}

.red {

	color: red;

}

.blue {

	color: blue;

}

.timeline {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: auto;
}

.li {
	transition: all 200ms ease-in;
	min-width: fit-content;
}

.timestamp {
	margin-bottom: 20px;
	padding: 0px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 100;
}

.temperature {
	padding: 0px 40px;
	display: flex;
	justify-content: center;
	border-top: 2px solid #D6DCE0;
	position: relative;
	transition: all 200ms ease-in;
}
.temperature h6 {
	font-weight: 600;
	margin-top: 20px;
}
.temperature:before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;
}

.li.complete .temperature {
	border-top: 2px solid #66DC71;
}
.li.complete .temperature:before {
	background-color: #66DC71;
	border: none;
	transition: all 200ms ease-in;
}
.li.complete .temperature h6 {
	color: #66DC71;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {

	.timeline {
		list-style-type: none;
		display: block;
	}

	.li {
		transition: all 200ms ease-in;
		display: flex;
		width: inherit;
	}

	.timestamp {
		width: 100px;
	}

	.temperature:before {
		left: -8%;
		top: 30%;
		transition: all 200ms ease-in;
	}

}
