nav.navbar.fixed-top.navbar-dark.bg-dark
	a.navbar-brand(href='#')
		img.d-inline-block.align-top.mr-2(src='http://www.newswest9.com/pb/resources/images/weather/weather-condition-icons/400x400/66_daily_forecast.png', width='30', height='30', alt='')
		| Tallinn - Weather
.container-fluid.contianer-bg

	.row
		.col-12
			.card
				.card-body
					.row
						.col-1
							h6.card-title Current forecast
							.d-flex.flex-column(*ngIf='currentForecast')
								img.icon(src='{{currentForecast.icon}}')
								.d-flex.justify-content-start
									div(title='Maximum temperature')
										i.fa.fa-arrow-up.red.mr-1
										label.mr-1 {{getTemperature(currentForecast.maxTemperature)}}º
									div(title='Minimum temperature')
										i.fa.fa-arrow-down.blue.mr-1
										label {{getTemperature(currentForecast.minTemperature)}}º
								.card-text(title='Precipitation')
									i.fa.fa-tint.mr-1
									label {{currentForecast.precipitation.toFixed(1)}}mm
						.col-11
							h6.card-title Last 24 hours
							ul#timeline.timeline
								li.li(*ngFor='let item of last24hours')
									.timestamp
										span
											i.fa.fa-tint.mr-1
											label {{item.precipitation.toFixed(1)}}mm
										span.date
											| {{item.hour | date:'shortTime'}}
											span
									.temperature
										h6
											.d-flex.justify-content-between
												div(title='Maximum temperature')
													i.fa.fa-arrow-up.red.mr-1
													label.mr-1 {{getTemperature(item.maxTemperature)}}º
												div(title='Minimum temperature')
													i.fa.fa-arrow-down.blue.mr-1
													label {{getTemperature(item.minTemperature)}}º
		.col-12
			.row.daily-info
				.col.card-daily(*ngFor='let item of dailyHistory')
					.card
						.card-body
							.card-title.d-flex.justify-content-start
								h6 {{item.day | date}}
							.d-flex.justify-content-between
								.card-text(title='Maximum temperature')
									i.fa.fa-arrow-up.red.mr-1
									label.mr-1 {{getTemperature(item.maxTemperature)}}º
								.card-text(title='Precipitation')
									i.fa.fa-tint.mr-1
									label {{item.precipitation.toFixed(1)}}mm
							.d-flex.justify-content-between
								.card-text(title='Minimum temperature')
									i.fa.fa-arrow-down.blue.mr-1
									label {{getTemperature(item.minTemperature)}}º
		.col-12
			.map(leaflet='', [leafletOptions]='leafletOptions', (leafletMapReady)='onMapReady($event)')
