@import '../assets/css/leaflet-openweathermap.css';

.map {
	height: 100%;
	padding: 0;
	min-height: 450px;
}

h1, .icon {

	font-size: 150px;

}

.current-card {

	min-height: 300px;

}

.current-title {

	font-size: 15px;

}

.card-body {

	padding: 0.9rem;

}

.card-daily {

	.card {
		min-height: 100px;
	}

}

.daily-info {

	margin-top: 20px;

}

.red {

	color: #f44336;

}

.blue {

	color: #2196F3;

}

.hourly-info {

    white-space: nowrap;
    overflow-x: auto;
	overflow-y: hidden;
	margin-bottom: 20px;
	padding: 0;

	.timeline {

		display: inline-block;
		line-height: 1;
		text-align: center;
		height: 128px;
		width: 75px;
		background-color: #fcfcfc;
		border: 1px solid #e9e9e9;
		border-radius: 1px;
		margin: 0;

		.hour {

			padding-top: 7px;
			line-height: 15px;
			color: #bababa;

		}

		.icon-hourly {

			display: inline-block;

			i {

				margin: 1px 4px 0;
				height: 48px;
				width: 48px;
				font-size: 48px;

			}

		}

		.info {

			font-weight: normal;
			line-height: 15px;
			font-size: 13px;

		}

	}

}

.scroll::-webkit-scrollbar-track{

	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;

}

.scroll::-webkit-scrollbar {

	width: 12px;
	height: 5px;
	background-color: #F5F5F5;

}

.scroll::-webkit-scrollbar-thumb {

	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;

}

.historical-daily {

	font-size: 20px;

}
